
@{
    ViewBag.Title = "Credito";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Pago con tarjeta</h2>
            </div>
        </div>
    </div>
</div>
