
@{
    Layout = null;
}
<div class="payment-options">
    <label>Opciónes de pago</label>
    <br />
    <div class="btn-group" data-toggle="buttons">
        <span>
            <label class="btn btn-default"><input type="radio" checked value="Deposito" name="pago"> Pago a cuenta bancaria</label>
        </span>
        <span>
            <label class="btn btn-default"><input type="radio" value="Credito" name="pago"> Tarjeta de Credito/Debito</label>
        </span>
        <span>
            <label class="btn btn-default"><input type="radio" value="Paypal" name="pago"> Paypal</label>
        </span>
    </div>
</div>