
@{
    Layout = null;
}
<div class="payment-options">
    <label>Opciónes de pago</label>
    <br />
    <span>
        <label><input type="radio" value="Deposito" name="pago"> Pago a cuenta bancaria</label>
    </span>
    <span>
        <label><input type="radio" value="Otro" name="pago"> Tarjeta de Credito/Debito</label>
    </span>
    <span>
        <label><input type="radio" value="Paypal" name="pago"> Paypal</label>
    </span>
</div>