
@{
    ViewBag.Title = "PayPal";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
@using (Html.BeginForm("Check", "Comprar", new { Area = "CheckOut", token = ViewBag.paypalToken }, FormMethod.Post, new { id = "frmPay" }))
{
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Redireccionando a PayPal</h2>
                    <input type="submit" class="btn btn-primary" value="Click aqui si no redirecciona" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        $(function () {
            setTimeout(function () {
                $("#frmPay").submit();
            }, 3000);
        })
    </script>
}