
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
<section id="seccionInicial">
    
</section>
<section id="categoriasMenuRapido"></section>
<section id="productosNuevos"></section>
<section id="productosRecomendados"></section>
