@{
    ViewBag.Title = "Tienda";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
@{Html.RenderAction("NovedadesSlider", "TiendaWidgets");}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @{Html.RenderAction("ListaCategorias", "TiendaWidgets");}
                <div class="row">
                    <div class="col-sm-12 hidden-sm hidden-xs">

                        <div class="left-sidebar">
                            <h2>Redes sociales</h2>
                            @{ Html.RenderAction("RedesSociales", "TiendaWidgets");}
                        <br /><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 padding-right">

                @{Html.RenderAction("ProductosRandom", "TiendaWidgets");}
                @{Html.RenderAction("ProductosRecomendados", "TiendaWidgets");}
            </div>
        </div>
    </div>
</div>

