
@{   Layout = "~/Views/Shared/_LayoutTienda.cshtml";}

@*<link href="/Content/Temas/Eshopper/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Temas/Eshopper/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/Temas/Eshopper/css/price-range.css" rel="stylesheet" />
    <link href="/Content/Temas/Eshopper/css/animate.css" rel="stylesheet" />
    <link href="/Content/Temas/Eshopper/css/responsive.css" rel="stylesheet" />

    <link href="/Content/Temas/Eshopper/css/main.css" rel="stylesheet" />*@


<div class="container text-center">
    @*<div class="logo-404">
            <a href="index.html"><img src="~/Content/Temas/Eshopper/images/home/logo.png" alt="" /></a>
        </div>*@
    <div class="content-404">
        <img src="~/Content/Temas/Eshopper/images/404/404.png" />
        <h1><b>¡OPPS!</b> ¡Ocurrio un error!</h1>
        <p>Ocurrió un error con la transacción en PAYPAL</p>
        <p>Es posible que no tenga fondos en su cuenta.</p>
        <p>O el servicio no esta disponible por el momento</p>
        <h2><a href="/Tienda">Volver al inicio</a></h2>
    </div>
</div>