
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Usuarios <small>Administración de usuarios</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Usuarios
                </li>
            </ol>
        </div>
    </div>
</div>
