@model IEnumerable<PymeTamFinal.Modelos.ModelosVista.CuponTablaViewModel>
@{
    ViewBag.Title = "Cupones";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/datatables/DataTables-1.10.9/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Esto borrara las configuraciónes de los widgets." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Inicio</li>
        <li>Cupones</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>
<!-- END RIBBON -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-comments"></i> Cupones <span>> Administrar Cupones</span></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a id="agregarCupon" href="@Url.Action("NuevoCupon","Cupones")" class="btn btn-success sinborde">
                <i class="fa fa-plus-square-o"></i> Agregar Cupón
            </a>
        </div>
    </div>
    <br />
    <div id="widget-grid" class="">
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-cupones" data-widget-editbutton="false">
                    <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Cupones </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            @{Html.RenderPartial("_listaCupones", Model);}
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
        </div>


    </div>


</div>


@section Scripts{
    <script>
        $('#tablaCupones').DataTable({
            "language": dataTableLang,
            "bAutoWidth": false
        });
        var $modalCupon = $("#modalCupon");
        $("body").on("click", ".eliminar", function () {
            var id = $(this).data("id");
            $modalCupon.load("/Administrador/Cupones/EliminarCupon/"+id, function () {
                $modalCupon.modal("show");
            });
        });
    </script>
}
@section final{
    <div class="modal fade" id="modalCupon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

    </div>
}