@model IEnumerable<PymeTamFinal.Modelos.ModelosVista.CuponTablaViewModel>
@{
    ViewBag.Title = "Cupones";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/datatables/DataTables-1.10.9/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cupones <small>Administración de cupones</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-plus-square"></i> Cupones
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a id="agregarCupon" href="@Url.Action("NuevoCupon","Cupones")" class="btn btn-success sinborde">
                <i class="fa fa-plus-square-o"></i> Agregar Cupón
            </a>
        </div>
    </div>
    <br />
    @{Html.RenderPartial("_listaCupones", Model);}
</div>
@section Scripts{
    <script>
        $('#tablaCupones').DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            "bAutoWidth": false
        });
    </script>
    }