USE [aspnet-PymeTamFinal-20150916030315]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23/09/2015 02:12:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CajaComentarios]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CajaComentarios](
	[idComentario] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NULL,
	[idProducto] [int] NOT NULL,
	[calificacion] [int] NOT NULL,
	[comentario] [nvarchar](max) NOT NULL,
	[nombreCliente] [nvarchar](max) NULL,
	[revisado] [bit] NOT NULL,
	[habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CajaComentarios] PRIMARY KEY CLUSTERED 
(
	[idComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarritoDeCompra]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoDeCompra](
	[idRecord] [int] IDENTITY(1,1) NOT NULL,
	[idCarro] [nvarchar](50) NULL,
	[idProducto] [int] NOT NULL,
	[contadorCarro] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CarritoDeCompra] PRIMARY KEY CLUSTERED 
(
	[idRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [nvarchar](200) NOT NULL,
	[idPadre] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[idCiudad] [int] IDENTITY(1,1) NOT NULL,
	[nombreCiudad] [nvarchar](max) NOT NULL,
	[idEstado] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ciudad] PRIMARY KEY CLUSTERED 
(
	[idCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](max) NOT NULL,
	[nombre] [nvarchar](max) NOT NULL,
	[apPaterno] [nvarchar](max) NOT NULL,
	[apMaterno] [nvarchar](max) NULL,
	[idCiudad] [int] NOT NULL,
	[direccionEnvioLinea1] [nvarchar](max) NOT NULL,
	[direccionEnvioLinea2] [nvarchar](max) NULL,
	[direccionFacturacionLinea1] [nvarchar](max) NULL,
	[direccionFacturacionLinea2] [nvarchar](max) NULL,
	[rfc] [nvarchar](max) NULL,
	[telefono] [nvarchar](max) NULL,
	[cp] [nvarchar](max) NOT NULL,
	[facturacionCapturada] [bit] NOT NULL,
	[datosCapturados] [bit] NOT NULL,
	[edad] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CostosEnvio]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostosEnvio](
	[idEnvio] [int] IDENTITY(1,1) NOT NULL,
	[nombreMetodoEnvio] [nvarchar](max) NOT NULL,
	[costo] [decimal](18, 2) NOT NULL,
	[detalle] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.CostosEnvio] PRIMARY KEY CLUSTERED 
(
	[idEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CostosEnvioCiudads]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostosEnvioCiudads](
	[CostosEnvio_idEnvio] [int] NOT NULL,
	[Ciudad_idCiudad] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CostosEnvioCiudads] PRIMARY KEY CLUSTERED 
(
	[CostosEnvio_idEnvio] ASC,
	[Ciudad_idCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CuponDescuentoes]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuponDescuentoes](
	[idCupon] [int] IDENTITY(1,1) NOT NULL,
	[codigoCupon] [nvarchar](50) NULL,
	[tipoDesc] [nvarchar](max) NULL,
	[idCliente] [int] NULL,
	[descuento] [decimal](18, 2) NOT NULL,
	[usado] [bit] NOT NULL,
	[cantidadesUso] [int] NOT NULL,
	[fechaCaducidad] [datetime] NOT NULL,
	[minimoRequerido] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.CuponDescuentoes] PRIMARY KEY CLUSTERED 
(
	[idCupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diferenciadores]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diferenciadores](
	[idDiferenciador] [int] IDENTITY(1,1) NOT NULL,
	[mensajeDiferenciador] [nvarchar](max) NULL,
	[tipoDiferenciador] [nvarchar](max) NULL,
	[idProducto] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Diferenciadores] PRIMARY KEY CLUSTERED 
(
	[idDiferenciador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[idEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[nombreEmpresa] [nvarchar](100) NOT NULL,
	[misionEmpresa] [nvarchar](400) NOT NULL,
	[visionEmpresa] [nvarchar](400) NOT NULL,
	[direccionEmpresa] [nvarchar](200) NOT NULL,
	[telefonoEmpresa] [nvarchar](max) NOT NULL,
	[correoOficialEmpresa] [nvarchar](max) NOT NULL,
	[correoVentasEmpresa] [nvarchar](max) NOT NULL,
	[correoAyudaEmpresa] [nvarchar](max) NOT NULL,
	[correoEnviosEmpresa] [nvarchar](max) NOT NULL,
	[facebookEmpresa] [nvarchar](max) NULL,
	[facebookId] [nvarchar](max) NULL,
	[twitterEmpresa] [nvarchar](max) NULL,
	[twitterId] [nvarchar](max) NULL,
	[infoActiva] [bit] NOT NULL,
	[slogan] [nvarchar](max) NULL,
	[imgPrincipalEmpresa] [nvarchar](max) NULL,
	[empLat] [nvarchar](max) NULL,
	[empLong] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Empresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estados]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[nombreEstado] [nvarchar](max) NOT NULL,
	[idPais] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Estados] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GaleriaProducto]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GaleriaProducto](
	[idImagen] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
	[imagen] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.GaleriaProducto] PRIMARY KEY CLUSTERED 
(
	[idImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mutadores]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mutadores](
	[idMut] [int] IDENTITY(1,1) NOT NULL,
	[caract] [nvarchar](max) NULL,
	[valorAgregado] [decimal](18, 2) NOT NULL,
	[defecto] [bit] NOT NULL,
	[porcentual] [bit] NOT NULL,
	[idDiferenciador] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Mutadores] PRIMARY KEY CLUSTERED 
(
	[idMut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orden]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[idOrden] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NULL,
	[ordenNombre] [nvarchar](max) NULL,
	[ordenApPaterno] [nvarchar](max) NULL,
	[ordenApMaterno] [nvarchar](max) NULL,
	[ordenDireccion] [nvarchar](max) NULL,
	[ordenPais] [nvarchar](max) NULL,
	[ordenEstado] [nvarchar](max) NULL,
	[ordenCiudad] [nvarchar](max) NULL,
	[ordenCodigoPostal] [nvarchar](max) NULL,
	[ordenTelefono] [nvarchar](max) NULL,
	[ordenMail] [nvarchar](max) NULL,
	[ordenTotal] [decimal](18, 2) NOT NULL,
	[ordenFecha] [datetime] NOT NULL,
	[ordenRevisado] [bit] NOT NULL,
	[ordenFechaPago] [datetime] NOT NULL,
	[ordenPagado] [bit] NOT NULL,
	[ordenCodigoRastreo] [nvarchar](max) NULL,
	[ordenCodigoCupon] [nvarchar](max) NULL,
	[ordenSubTotal] [decimal](18, 2) NOT NULL,
	[ordenCodigoPayPal] [nvarchar](max) NULL,
	[ordenDescuento] [decimal](18, 2) NOT NULL,
	[ordenNombreEnvio] [nvarchar](max) NULL,
	[ordenTipoPago] [nvarchar](max) NULL,
	[ordenEstadoPedido] [nvarchar](max) NULL,
	[ordenImagenTicket] [nvarchar](max) NULL,
	[ordenBase64Imagen] [nvarchar](max) NULL,
	[ordenComentarioEstado] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orden] PRIMARY KEY CLUSTERED 
(
	[idOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrdenDetalle]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenDetalle](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idOrden] [int] NOT NULL,
	[idProducto] [int] NULL,
	[nombreProducto] [nvarchar](max) NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [decimal](18, 2) NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrdenDetalle] PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pais]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[idPais] [int] IDENTITY(1,1) NOT NULL,
	[nombrePais] [nvarchar](max) NULL,
	[langCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pais] PRIMARY KEY CLUSTERED 
(
	[idPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Politicas]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Politicas](
	[idPolitica] [int] IDENTITY(1,1) NOT NULL,
	[nombrePolitica] [nvarchar](max) NULL,
	[contenidoPolitica] [nvarchar](max) NULL,
	[slugPolitica] [nvarchar](max) NULL,
	[fechaPublicacion] [datetime] NOT NULL,
	[fechaActualizacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Politicas] PRIMARY KEY CLUSTERED 
(
	[idPolitica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Precios]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Precios](
	[idPrecio] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[descuento] [decimal](18, 2) NULL,
	[descuentoActivo] [bit] NOT NULL,
	[fechaInicio] [datetime] NULL,
	[fechaVencimiento] [datetime] NULL,
	[tipo] [nvarchar](max) NULL,
	[precioEsp] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Precios] PRIMARY KEY CLUSTERED 
(
	[idPrecio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PreguntasFrecuentes]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntasFrecuentes](
	[idPregunta] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [nvarchar](max) NULL,
	[respuesta] [nvarchar](max) NULL,
	[fechaPublicacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.PreguntasFrecuentes] PRIMARY KEY CLUSTERED 
(
	[idPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[idCategoria] [int] NULL,
	[nombreProducto] [nvarchar](max) NULL,
	[descripcionProducto] [nvarchar](max) NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[habilitado] [bit] NOT NULL,
	[imgProducto] [nvarchar](max) NULL,
	[descripcionCorta] [nvarchar](max) NULL,
	[tags] [nvarchar](max) NULL,
	[habilitarComentarios] [bit] NOT NULL,
	[fechaModificacion] [datetime] NOT NULL,
	[slugs] [nvarchar](max) NULL,
	[stock] [int] NOT NULL,
	[mostrarStock] [bit] NOT NULL,
	[mostrarSinStock] [bit] NOT NULL,
	[habilitarCompraSinStock] [bit] NOT NULL,
	[sku] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegistroDeActividad]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroDeActividad](
	[idRegistro] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[ip] [nvarchar](max) NULL,
	[usuario] [nvarchar](max) NULL,
	[fecha] [datetime] NOT NULL,
	[nombreUsuario] [nvarchar](max) NULL,
	[edadUsuario] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RegistroDeActividad] PRIMARY KEY CLUSTERED 
(
	[idRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seccion]    Script Date: 23/09/2015 02:12:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seccion](
	[idSeccion] [int] IDENTITY(1,1) NOT NULL,
	[nombreSeccion] [nvarchar](100) NOT NULL,
	[estadoSeccion] [bit] NOT NULL,
	[imagenSeccion] [nvarchar](max) NULL,
	[contenidoSeccion] [nvarchar](400) NOT NULL,
 CONSTRAINT [PK_dbo.Seccion] PRIMARY KEY CLUSTERED 
(
	[idSeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([idCategoria], [nombreCategoria], [idPadre]) VALUES (5, N'Cremas', 0)
INSERT [dbo].[Categorias] ([idCategoria], [nombreCategoria], [idPadre]) VALUES (6, N'Ropa', 0)
INSERT [dbo].[Categorias] ([idCategoria], [nombreCategoria], [idPadre]) VALUES (7, N'Computadoras Escritorio', 0)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([idCiudad], [nombreCiudad], [idEstado]) VALUES (1, N'Victoria', 1)
INSERT [dbo].[Ciudad] ([idCiudad], [nombreCiudad], [idEstado]) VALUES (2, N'Reynosa', 1)
INSERT [dbo].[Ciudad] ([idCiudad], [nombreCiudad], [idEstado]) VALUES (3, N'Tampico', 1)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idCliente], [nombreUsuario], [nombre], [apPaterno], [apMaterno], [idCiudad], [direccionEnvioLinea1], [direccionEnvioLinea2], [direccionFacturacionLinea1], [direccionFacturacionLinea2], [rfc], [telefono], [cp], [facturacionCapturada], [datosCapturados], [edad]) VALUES (1, N'Alan', N'Alan', N'Torres', N'Sanchez', 1, N'asdasd', N'asdasd', N'asdasd', N'asdasd', N'22321as', N'123123', N'87140', 1, 1, 24)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[CostosEnvio] ON 

INSERT [dbo].[CostosEnvio] ([idEnvio], [nombreMetodoEnvio], [costo], [detalle]) VALUES (1, N'Estafeta', CAST(200.00 AS Decimal(18, 2)), N'Estafeta internacional')
INSERT [dbo].[CostosEnvio] ([idEnvio], [nombreMetodoEnvio], [costo], [detalle]) VALUES (2, N'RedPack', CAST(150.00 AS Decimal(18, 2)), N'Red pack dia siguiente')
SET IDENTITY_INSERT [dbo].[CostosEnvio] OFF
INSERT [dbo].[CostosEnvioCiudads] ([CostosEnvio_idEnvio], [Ciudad_idCiudad]) VALUES (1, 1)
INSERT [dbo].[CostosEnvioCiudads] ([CostosEnvio_idEnvio], [Ciudad_idCiudad]) VALUES (2, 1)
INSERT [dbo].[CostosEnvioCiudads] ([CostosEnvio_idEnvio], [Ciudad_idCiudad]) VALUES (1, 2)
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([idEstado], [nombreEstado], [idPais]) VALUES (1, N'Tamaulipas', 1)
INSERT [dbo].[Estados] ([idEstado], [nombreEstado], [idPais]) VALUES (2, N'Nuevo Leon', 1)
INSERT [dbo].[Estados] ([idEstado], [nombreEstado], [idPais]) VALUES (3, N'Veracruz', 1)
SET IDENTITY_INSERT [dbo].[Estados] OFF
SET IDENTITY_INSERT [dbo].[GaleriaProducto] ON 

INSERT [dbo].[GaleriaProducto] ([idImagen], [idProducto], [fechaRegistro], [imagen]) VALUES (13, 7, CAST(N'2015-09-21 13:11:05.893' AS DateTime), N'/Content/Imagenes/Productos/7/Slides/11214107_10153276346021620_553600571401229841_n.jpg')
SET IDENTITY_INSERT [dbo].[GaleriaProducto] OFF
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([idPais], [nombrePais], [langCode]) VALUES (1, N'México', N'es-MX')
SET IDENTITY_INSERT [dbo].[Pais] OFF
SET IDENTITY_INSERT [dbo].[Precios] ON 

INSERT [dbo].[Precios] ([idPrecio], [idProducto], [precio], [descuento], [descuentoActivo], [fechaInicio], [fechaVencimiento], [tipo], [precioEsp]) VALUES (13, 7, CAST(95.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL, N'Porcentual', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Precios] ([idPrecio], [idProducto], [precio], [descuento], [descuentoActivo], [fechaInicio], [fechaVencimiento], [tipo], [precioEsp]) VALUES (14, 11, CAST(788.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL, N'Real', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Precios] ([idPrecio], [idProducto], [precio], [descuento], [descuentoActivo], [fechaInicio], [fechaVencimiento], [tipo], [precioEsp]) VALUES (15, 13, CAST(500.00 AS Decimal(18, 2)), NULL, 0, NULL, NULL, N'Real', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Precios] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Seccion] ON 

INSERT [dbo].[Seccion] ([idSeccion], [nombreSeccion], [estadoSeccion], [imagenSeccion], [contenidoSeccion]) VALUES (1, N'Distribuidores', 1, N'/Content/Imagenes/Secciones/1/11892163_10204812140440181_4185383414373377491_n.jpg', N'Contenido')
SET IDENTITY_INSERT [dbo].[Seccion] OFF
ALTER TABLE [dbo].[CajaComentarios] ADD  DEFAULT ((0)) FOR [revisado]
GO
ALTER TABLE [dbo].[CajaComentarios] ADD  DEFAULT ((0)) FOR [habilitado]
GO
ALTER TABLE [dbo].[CajaComentarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CajaComentarios_dbo.Cliente_idCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[CajaComentarios] CHECK CONSTRAINT [FK_dbo.CajaComentarios_dbo.Cliente_idCliente]
GO
ALTER TABLE [dbo].[CajaComentarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CajaComentarios_dbo.Producto_idProducto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CajaComentarios] CHECK CONSTRAINT [FK_dbo.CajaComentarios_dbo.Producto_idProducto]
GO
ALTER TABLE [dbo].[CarritoDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CarritoDeCompra_dbo.Producto_idProducto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarritoDeCompra] CHECK CONSTRAINT [FK_dbo.CarritoDeCompra_dbo.Producto_idProducto]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ciudad_dbo.Estados_idEstado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estados] ([idEstado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [FK_dbo.Ciudad_dbo.Estados_idEstado]
GO
ALTER TABLE [dbo].[CostosEnvioCiudads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CostosEnvioCiudads_dbo.Ciudad_Ciudad_idCiudad] FOREIGN KEY([Ciudad_idCiudad])
REFERENCES [dbo].[Ciudad] ([idCiudad])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CostosEnvioCiudads] CHECK CONSTRAINT [FK_dbo.CostosEnvioCiudads_dbo.Ciudad_Ciudad_idCiudad]
GO
ALTER TABLE [dbo].[CostosEnvioCiudads]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CostosEnvioCiudads_dbo.CostosEnvio_CostosEnvio_idEnvio] FOREIGN KEY([CostosEnvio_idEnvio])
REFERENCES [dbo].[CostosEnvio] ([idEnvio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CostosEnvioCiudads] CHECK CONSTRAINT [FK_dbo.CostosEnvioCiudads_dbo.CostosEnvio_CostosEnvio_idEnvio]
GO
ALTER TABLE [dbo].[CuponDescuentoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CuponDescuentoes_dbo.Cliente_idCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[CuponDescuentoes] CHECK CONSTRAINT [FK_dbo.CuponDescuentoes_dbo.Cliente_idCliente]
GO
ALTER TABLE [dbo].[Diferenciadores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Diferenciadores_dbo.Producto_idProducto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Diferenciadores] CHECK CONSTRAINT [FK_dbo.Diferenciadores_dbo.Producto_idProducto]
GO
ALTER TABLE [dbo].[Estados]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Estados_dbo.Pais_idPais] FOREIGN KEY([idPais])
REFERENCES [dbo].[Pais] ([idPais])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Estados] CHECK CONSTRAINT [FK_dbo.Estados_dbo.Pais_idPais]
GO
ALTER TABLE [dbo].[GaleriaProducto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GaleriaProducto_dbo.Producto_idProducto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GaleriaProducto] CHECK CONSTRAINT [FK_dbo.GaleriaProducto_dbo.Producto_idProducto]
GO
ALTER TABLE [dbo].[Mutadores]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Mutadores_dbo.Diferenciadores_idDiferenciador] FOREIGN KEY([idDiferenciador])
REFERENCES [dbo].[Diferenciadores] ([idDiferenciador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mutadores] CHECK CONSTRAINT [FK_dbo.Mutadores_dbo.Diferenciadores_idDiferenciador]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orden_dbo.Cliente_idCliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_dbo.Orden_dbo.Cliente_idCliente]
GO
ALTER TABLE [dbo].[OrdenDetalle]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrdenDetalle_dbo.Orden_idOrden] FOREIGN KEY([idOrden])
REFERENCES [dbo].[Orden] ([idOrden])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrdenDetalle] CHECK CONSTRAINT [FK_dbo.OrdenDetalle_dbo.Orden_idOrden]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Producto_dbo.Categorias_idCategoria] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_dbo.Producto_dbo.Categorias_idCategoria]
GO
