@model PymeTamFinal.Modelos.ModelosDominio.Empresa
@{
    Layout = null;
}
<div class="fb-page" data-href="@Model.facebookEmpresa" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="@Model.facebookEmpresa"><a href="@Model.facebookEmpresa">Funniest mexican videos</a></blockquote></div></div>