@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{



    <li>
        <a href="@Url.Action("Index", "Clientes")">Mi Cuenta</a>

    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a></li>

}
else
{
    <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink" })</li>
}
@*@{Html.RenderAction("Index", "Carrito");}*@
@using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}