@model PymeTamFinal.Modelos.ModelosVista.ProductoDetalleViewModel
@{
    Layout = null;
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Producto agregado al carro</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">

                    <h3>
                        @Model.nombreProducto
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    @Html.imagen(Model.imagen, null, 100, 100, true)
                </div>
                <div class="col-lg-6">
                  <h3>Precio: @Html.formatoPrecio(Model.precio)</h3>  
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Seguir comprando</button>
            <a href="@Url.Action("CarritoDetalle","MiCarro", new { Area="" })" class="btn btn-default">Ir a mi carrito</a>
        </div>
    </div>
</div>