
@{
    ViewBag.Title = "Productos";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Esto borrara las configuraciónes de los widgets." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>


    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Inicio</li>
        <li>Productos</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>
@*@*<link href="~/Scripts/datatables/DataTables-1.10.9/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css" rel="stylesheet" />*@
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-cubes"> </i> Productos <span>> Administración de productos </span>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-cubes"></i> Productos
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("AgregarProducto","Productos")" class="btn btn-success sinborde">
                <i class="fa fa-plus-square-o"></i> Agregar Producto
            </a>
        </div>
    </div>
    <br />
    @{Html.RenderPartial("_listaProductos");}
</div>

@section Scripts{
    @*<script src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>*@
    <script>
        $(function () {
            var table = $('#productos').DataTable({
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": '/Administrador/Productos/CargaProductos/',
                    "dataSrc": '',
                    "deferRender": true,
                },
                "dom": 'lrBftip',
                buttons: [{
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4,5]
                        }
                    }
                ],
                "columns":
                [
                    { data: 'idProducto' },
                    { data: 'sku' },
                    { data: 'nombreProducto' },
                    { data: 'precio' },
                    { data: 'stock' },
                    { data: 'categoria' },
                    { data: 'opciones' },
                ],
                "language": dataTableLang,
            });
            $("body").on("click", ".editarGaleria", function () {
                var id = $(this).data("id");
                window.location.href = "/Administrador/Productos/EditarGaleria/" + id;
                //$("#modalProducto").load("/Administrador/Productos/EditarGaleria/"+id, function () {
                //    $("#modalProducto").modal("show");
                //});
            });
            $("body").on("click", ".editarPrecio", function () {
                var id = $(this).data("id");
                $("#modalProducto").load("/Administrador/Productos/EditarPrecio/"+id, function () {
                    $("#modalProducto").modal("show");
                });
            });
            $("body").on("click", ".eliminarProducto", function () {
                var id = $(this).data("id");
                $("#modalProducto").load("/Administrador/Productos/EliminarProductoVentana/"+id, function () {
                    $("#modalProducto").modal("show");
                });
            });
        });

    </script>

}
@section final{
    <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

    </div>
}