@model IEnumerable<PymeTamFinal.Modelos.ModelosDominio.CostosEnvio>
@{
    ViewBag.Title = "Costos de envio";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Esto borrara las configuraciónes de los widgets." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>


    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Inicio</li>
        <li>Costo de Envios</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>

<link href="~/Scripts/datatables/DataTables-1.10.9/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
            <i class="fa fa-credit-card"></i> Costos de envio <spam>> Administración de costos de envio </spam>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-credit-card"></i> Costos de envio
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success sinborde nuevoEnvio">
                <i class="fa fa-plus-square-o"></i> Agregar Nuevo
            </a>
        </div>
    </div>
    <div id="listaEnvios">
        @{Html.RenderPartial("_listaEnvios", Model);}
    </div>
   
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            $("body").on("click", ".detalle", function () {
                var id = $(this).data("id");
                $("#modalEnvio").load("/Administrador/CostosEnvio/VerDetalle/" + id, function () {
                    $("#modalEnvio").modal("show");
                    $('.ciudades').DataTable({
                        "language": dataTableLang,
                    });
                });
            });
            $("body").on("click", ".nuevoEnvio", function () {
                $("#modalEnvio").load("/Administrador/CostosEnvio/AgregarEnvio/", function () {
                    $("#modalEnvio").modal("show");
                });
            });
            $("body").on("click", ".editar", function () {
                var id = $(this).data("id");
                $("#modalEnvio").load("/Administrador/CostosEnvio/EditarEnvio/"+id, function () {
                    $("#modalEnvio").modal("show");
                });
            });
            $("body").on("click", ".eliminar", function () {
                var id = $(this).data("id");
                $("#modalEnvio").load("/Administrador/CostosEnvio/EliminarEnvio/" + id, function () {
                    $("#modalEnvio").modal("show");
                });
            });
        });
        var metodoGuardado = function (data) {
            if (data.ok) {
                console.log(data);
                $("#modalEnvio").modal("hide");
                cargaMetodos();
            }
            else {
                for (var i = 0; i < data.retorno; i++) {
                    alert(i);
                }
            }

        }
        var cargaMetodos = function () {
            $("#listaEnvios").load("/Administrador/CostosEnvio/CargaEnviosCAjax").error(function () {
                alert("Error!");
            });
        }
    </script>

}
@section final{
    <div class="modal fade" id="modalEnvio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

    </div>
}