@model PymeTamFinal.Modelos.ModelosDominio.CajaComentarios
@{

    Layout = null;
}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">¿Desea eliminar este comentario</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Usuario</h4>
                    <p>@Model.nombreCliente</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.generarEstrellasCalif(Model.calificacion)
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    @Html.TextAreaFor(a => a.comentario, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="@Url.Action("EliminarComentario","Comentarios", new { id=Model.idComentario })" class="btn btn-danger">Eliminar</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>