
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrador/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Secciones <small>Administración de secciones</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Listado de secciones
            </li>
        </ol>
    </div>
</div>