@model IEnumerable<PymeTamFinal.Modelos.ModelosDominio.Empresa>
@{
    ViewBag.Title = "Mi Empresa";
}
<div id="ribbon">

    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Esto borrara las configuraciónes de los widgets." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
    </span>


    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Inicio</li>
        <li>Mi Empresa</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>

<style>
    .sinborde {
        border-radius: 0px;
    }
    .panel {
        margin-top:10px;
    }
    .tamLetra {
        font-size: 13px;
    }

    .btn-default {
        background-color: #777;
        color: #fff;
        font-weight: bold;
    }

        .btn-default:hover {
            background-color: #777;
            color: #fff;
            cursor: default;
        }
</style>
<div class="container-fluid">
    <h1 class="page-title"></h1>
    <h1 class="page-title txt-color-blueDark"> <i class="fa-fw fa fa-briefcase"></i> Mi Empresa <span>> Información de la empresa </span> </h1>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-briefcase"></i> Mi Empresa
                        </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("NuevaInformacion", "Empresa")" class="btn btn-success sinborde">
                <i class="fa fa-plus-square-o"></i> Agregar Informacion
            </a>
        </div>
    </div>

    @{ Html.RenderPartial("_listaEmpresas", Model);}

</div>

