
@{
    ViewBag.Title = "CarritoDetalle";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
<div class="section">
    <div class="container">
        <div class="col-sm-12">
            <h3>Mi Carrito</h3>
        </div>
    </div>
</div>
