
@{
    ViewBag.Title = "Comprar";
    Layout = "~/Views/Shared/_LayoutTienda.cshtml";
}
<section id="cart_items">
    <div class="container">
        @*<div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div>*@

        <div class="step-one">
            <h2 class="heading">Comprar</h2>
        </div>
        <div class="checkout-options">
            <h3>Opciones de compra</h3>
            <br />
            @if (User.Identity.IsAuthenticated)
            {

                <ul class="nav">
                    <li>
                        @User.Identity.Name
                    </li>
                    @*<li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-times"></i>Usar otra cuenta</a>
                        </li>*@
                    <li>
                        <a href=""><i class="fa fa-times"></i>Cancelar compra</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav">
                    <li>
                        @*
                            Usar el formulario para comprar como invitado
                        *@
                        <label><input type="radio" checked="checked" class="tipo" value="invitado" name="tipo"> Comprar como invitado</label>
                    </li>
                    <li>
                        @*
                            login
                        *@
                        <label><input type="radio" class="tipo" value="login" name="tipo"> Usar mi cuenta</label>
                    </li>


                    <li>
                        @*
                            Registrar al usuario en la misma ventana
                        *@
                        <label><input type="radio" class="tipo" value="registro" name="tipo"> Registrar cuenta</label>
                    </li>

                    <li>
                        <a href=""><i class="fa fa-times"></i>Cancelar compra</a>
                    </li>
                </ul>
            }
        </div><!--/checkout-options-->

        <div class="register-req">
            <p>Con una cuenta registrada usted puede tener acceso a su historial de pedidos.</p>
        </div><!--/register-req-->

        <div class="shopper-informations">
            <div class="row">
                @*<div class="col-sm-3">
                        <div class="shopper-info">
                            <p>Shopper Information</p>
                            <form>
                                <input type="text" placeholder="Display Name">
                                <input type="text" placeholder="User Name">
                                <input type="password" placeholder="Password">
                                <input type="password" placeholder="Confirm password">
                            </form>
                            <a class="btn btn-primary" href="">Get Quotes</a>
                            <a class="btn btn-primary" href="">Continue</a>
                        </div>
                    </div>*@
                <div class="col-sm-6 clearfix">
                    <div class="bill-to">
                        <p>Información para el envió</p>
                        <div class="form-one">
                            <form>
                                <input type="text" placeholder="Email*">
                                <input type="text" placeholder="Nombre *">
                                <input type="text" placeholder="Primer Apellido *">
                                <input type="text" placeholder="Segundo Apellido">
                                <input type="text" placeholder="Dirección linea 1 *">
                                <input type="text" placeholder="Dirección linea 2">
                                <input type="text" placeholder="Telefono *">
                                <input type="text" placeholder="Celular">
                            </form>
                        </div>
                        <div class="form-two">
                            <form>
                                <input type="text" placeholder="Codigo Postal *">
                                <select>
                                    <option>-- Pais --</option>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>
                                <select>
                                    <option>-- Estado --</option>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>
                                <select>
                                    <option>-- Metodos de envió disponibles --</option>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="order-message">
                        <p>Mas información</p>
                        <textarea name="message" placeholder="Notas sobre su pedido o referencias" rows="16"></textarea>
                        <label><input type="checkbox"> Enviar a dirección de facturación</label>
                        <p class="help-block">
                            Para facturar se requiere de una cuenta registrada
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>Review &amp; Payment</h2>
        </div>

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/cart/one.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Colorblock Scuba</a></h4>
                            <p>Web ID: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/cart/two.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Colorblock Scuba</a></h4>
                            <p>Web ID: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/cart/three.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">Colorblock Scuba</a></h4>
                            <p>Web ID: 1089772</p>
                        </td>
                        <td class="cart_price">
                            <p>$59</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$59</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tbody>
                                    <tr>
                                        <td>Cart Sub Total</td>
                                        <td>$59</td>
                                    </tr>
                                    <tr>
                                        <td>Exo Tax</td>
                                        <td>$2</td>
                                    </tr>
                                    <tr class="shipping-cost">
                                        <td>Shipping Cost</td>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td><span>$61</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="payment-options">
            <span>
                <label><input type="radio" name="pago"> Direct Bank Transfer</label>
            </span>
            <span>
                <label><input type="radio" name="pago"> Check Payment</label>
            </span>
            <span>
                <label><input type="radio" name="pago"> Paypal</label>
            </span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Confirmar compra</button>
            </div>
        </div>
    </div>
</section>
@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        var callbackLogin = function (data) {
            if (data.ok) {
                window.location.reload();
            }
            else {
                alert(data.mensaje);
                $("#modalLogin").modal("hide");
            }
        };
        $(function () {
            //invitado
            //login
            //registro
            $modal = $("#modalLogin");
            $btn = $(".tipo");
            $servicioUrl = "/Account/LoginModal/";
            $servicioUrlRegistro = "/Account/RegistroModal/";
            $funcionModal = function (d) {
                $modal.modal("show");
            };
            $("body").on("change", $btn, function () {
                var $tipo = $('input[name="tipo"]:checked').val();

                if ($tipo == "login") {
                    $modal.load($servicioUrl, $funcionModal);
                }
                if ($tipo == "registro") {
                    $modal.load($servicioUrlRegistro, $funcionModal);
                }
            });
        });
    </script>
}
@section Fin{
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

    </div>
}